# Root ignores
vendor-marketplace-backend/
vendor-marketplace-frontend/

# Dependencies & Build Output
node_modules/
dist/
build/
.output/
.react-router/

# Environment Variables
.env
.env.*
!.env.example

# OS & Logs
.DS_Store
Thumbs.db
*.log
